name: Deploy via FTP

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: 

# Only need contents read for FTP deployment
permissions:
  contents: read

# Allow only one concurrent deployment
concurrency:
  group:  "ftp-deployment"
  cancel-in-progress: false

jobs: 
  deploy:  
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password:  ${{ secrets.FTP_PASS }}
          port: 21
          protocol: ftp
          server-dir: /
          exclude: |
            **/. git*
            **/.git*/**
            **/node_modules/**
            README.md
            .gitignore
